In [1]:
import pandas as pd

#fileName = 'departments.csv'
fileName = 'hired_employees.csv'
#fileName = 'jobs.csv'

ruta = f"../../{fileName}"

df = pd.read_csv(f"../../{fileName}", header=None)

In [2]:

if (fileName not in {'jobs.csv','hired_employees.csv','departments.csv' }):
    print('incorrecto')
else:
    print('correcto')

correcto

In [3]:
if (fileName =='jobs.csv'):
    df.columns = ['id', 'job']
if (fileName =='departments.csv'):
    df.columns = ['id', 'department']
if (fileName =='hired_employees.csv'):
    df.columns = ['id', 'name','datetime','department_id','job_id']

In [4]:
targetTable = fileName.replace(".csv","")
print(targetTable)

hired_employees

In [6]:
from utils.sqlConnection import insert_to_sql, create_to_sql
create_to_sql(df, targetTable)
insert_to_sql(df, targetTable)

Tabla creada exitosamente
Datos insertados exitosamente

In [5]:
print(df.head())

   id            name              datetime  department_id  job_id
0   1     Harold Vogt  2021-11-07T02:48:42Z            2.0    96.0
1   2        Ty Hofer  2021-05-30T05:43:46Z            8.0     NaN
2   3     Lyman Hadye  2021-09-01T23:27:38Z            5.0    52.0
3   4   Lotti Crowthe  2021-10-01T13:04:21Z           12.0    71.0
4   5  Gretna Lording  2021-10-10T22:22:17Z            6.0    80.0

In [11]:
# %run ./utils/sqlConnection.py

In [ ]:
# write_dataframe_to_sql(df,targetTable)